html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  /* Colors: */
  --orange: #FF5E55;
  --beige: #EDEAE3;
  --white: #FFFFFF;
  --dark-blue: #1F2244;
  --dark-grey: #9C8C8C;
  --green: #119383;
}